<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

    <title>Compornents</title>
    <!-- sanitize.css https://csstools.github.io/sanitize.css/ -->
    <link href="https://unpkg.com/sanitize.css" rel="stylesheet" />
    <!-- material design icons -->
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
    <!-- Swiper.js-->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <!-- Original Style-->
    <link rel="stylesheet" href="styles/style.css">
    <!--<link rel="stylesheet" href="styles/header.css">-->
    <!--OGP-->
    <meta property="og:url" content="https://" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:image" content="https://" />
    <meta property="fb:app_id" content="" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@" />
    <meta name="twitter:player" content="@" />

    <!--favicon-->
    <link rel="icon" href="./images/favicon.ico" />
    <link rel="apple-touch-icon" href="./images/favicons/apple-touch-icon-180x180.png" sizes="180x180">
    <link rel="icon" type="image/png" href="./images/favicons/android-chrome-192x192.png" sizes="192x192">

    <!-- Swiper.js-->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>

<body>



    <!-- header -->
    <header class="service-title">
        <a href="トップページへのリンク"><img src="images/logo.svg" alt="JO-TO!"></a><span class="school-name">北苺道大学</span>
    </header>
    <!-- /header -->




    <!--検索バー-->
    <div class="search-bar head-fix">
        <span id="search-back" class="material-icons invisible">navigate_before</span>
        <form id="search-form" class="search-form" method="get" action="https://">
            <input id="search-input" type="text" placeholder="何をお探しですか？" name="s" value="">
            <button id="search-btn" type="submit" value="Search" alt="検索" title="検索"><i
                    class="material-icons icon-search">search</i></button>
        </form>
    </div>
    <!--タグ検索・検索履歴が横から出てくるモーダル的なもの-->
    <div class="searching off">
        <div class="searching-inner">
            <h2 class="page-search">#タグで検索</h2>
            <div class="hashtag-container">
                <a href="" class="btn-hashtag">建築<span class="btn-hashtag-num">(36)</span></a> <a href=""
                    class="btn-hashtag">スチレンボード<span class="btn-hashtag-num">(27)</span></a> <a href=""
                    class="btn-hashtag">PE<span class="btn-hashtag-num">(19)</span></a>
                <a href="" class="btn-hashtag">角材<span class="btn-hashtag-num">(17)</span></a> <a href=""
                    class="btn-hashtag">造形1年後期<span class="btn-hashtag-num">(13)</span></a> <a href=""
                    class="btn-hashtag">スチのり<span class="btn-hashtag-num">(8)</span></a><a href=""
                    class="btn-hashtag">パルサ材<span class="btn-hashtag-num">(17)</span></a>
                <a href="" class="btn-hashtag">アクリル<span class="btn-hashtag-num">(13)</span></a> <a href=""
                    class="btn-hashtag">教科書<span class="btn-hashtag-num">(8)</span></a>
            </div>
            <h2 class="page-search">検索履歴</h2>
            <ul class="list-normal">
                <li>
                    <span>木　角材</span> <i class="material-icons">navigate_next</i>
                    <a href="#" class="item-link"></a>
                </li>
                <li>
                    <span>アクリル板</span> <i class="material-icons">navigate_next</i>
                    <a href="#" class="item-link"></a>
                </li>

                <li>
                    <span>布　黄色　薄手</span> <i class="material-icons">navigate_next</i>
                    <a href="#" class="item-link"></a>
                </li>
                <li>
                    <span>LED テープ</span> <i class="material-icons">navigate_next</i>
                    <a href="#" class="item-link"></a>
                </li>
                <li>
                    <span>スチール</span> <i class="material-icons">navigate_next</i>
                    <a href="#" class="item-link"></a>
                </li>


            </ul>
        </div>
    </div>

    <!-- <section class="hero is-primary is-fullheight">-->

    <!--<div class="hero-head">
        <nav class="navbar">
            <div class="container">

                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a href="{{ url_for('main.index') }}" class="navbar-item">
                            Home
                        </a>
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('main.profile') }}" class="navbar-item">
                            Profile
                        </a>
                        {% endif %}
                        {% if not current_user.is_authenticated %}
                        <a href="{{ url_for('auth.login') }}" class="navbar-item">
                            Login
                        </a>
                        <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                            Sign Up
                        </a>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                            Logout
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </div>-->

    <div class="hero-body">
        <div class="container has-text-centered">
            {% block content %}
            {% endblock %}
        </div>
        <footer>
            <div class="service-title">
                <img src="images/logo.svg" alt="JO-TO!"><span class="school-name">北苺道大学</span>
            </div>

            <div class="footer-inner">
                <div>
                    <ul class="menu">
                        <li id="" class="menu-item">
                            <a href="https://">使い方ガイド</a>
                        </li>
                        <li id="" class="menu-item">
                            <a href="https://">マナーガイド</a>
                        </li>
                        <li id="" class="menu-item">
                            <a href="https://">よくある質問</a>
                        </li>

                        <li id="menu-item-61" class="menu-item">
                            <a href="https://">お問い合わせ</a>
                        </li>
                    </ul>
                    <small class="copy-right">©noob_fighter_returns
                    </small>
                </div>

                <div>
                    <ul class="menu">
                        <li id="" class="menu-item">
                            <a href="https://">利用規約</a>
                        </li>
                        <li id="" class="menu-item ">
                            <a href="https://">プライバシーポリシー</a>
                        </li>
                        <li id="" class="menu-item ">
                            <a href="https://">ログアウト</a>
                        </li>
                        <li>
                            <p>友達にシェアする</p>
                            <div class="share-buttons">
                                <!-- LINE -->
                                <a class="btn-social-share"
                                    href="https://social-plugins.line.me/lineit/share?url=【エンコードしたURL】"><img
                                        src="./images/buttons/LINE.svg" alt="LINEで共有"></a>
                                <!-- Twitter -->
                                <a class="btn-social-share"
                                    href="http://twitter.com/share?text=【ツイート文（日本語が含まれる場合にはURLエンコードが必要（エンコードのことはちょっとよくわからないです...!））】&url=【共有するURL】&btn-hashtags=【ハッシュタグ（複数あるときはカンマ区切り）】"
                                    rel="nofollow"><img src="./images/buttons/Twitter.svg" alt="Twitterで共有"></a>
                                <!-- Share -->
                                <button type="button" class="btn-social-share native-share-btn"
                                    data-share-title="JO-TO!"><img src="./images/buttons/share.svg"
                                        alt="シェアする"></button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

    <!--</section>-->


    <script type="text/javascript" src="js/index.js"></script>
</body>

</html>