<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta charset="utf-8">
    <title>Compornents</title>
    <!-- sanitize.css https://csstools.github.io/sanitize.css/ -->
    <link href="https://unpkg.com/sanitize.css" rel="stylesheet" />
    <!-- material design icons -->
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
    <link rel="stylesheet" href="styles/style.css">
    <!--<link rel="stylesheet" href="styles/header.css">-->
    <!--OGP-->
    <meta property="og:url" content="https://" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:image" content="https://" />
    <meta property="fb:app_id" content="" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@" />
    <meta name="twitter:player" content="@" />

    <!--favicon-->
    <link rel="icon" href="./images/favicon.ico" />
    <link rel="apple-touch-icon" href="./images/favicons/apple-touch-icon-180x180.png" sizes="180x180">
    <link rel="icon" type="image/png" href="./images/favicons/android-chrome-192x192.png" sizes="192x192">

    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />



</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<body>

    <!-- header -->
    <header>

    </header>
    <!-- /header -->
    <main>

        <i class="material-icons-round">account_box</i>

        <i class="material-icons">account_box</i>
        <i class="material-icons-outlined">account_box</i>
        <i class="material-icons-round">account_box</i>
        <i class="material-icons-two-tone">account_box</i>
        <i class="material-icons-sharp">account_box</i>


        <h1>Tabs</h1>
        <div class='tabs'>
            <div class='tab-buttons'>
                <span class='content1'>運営から<span class="badge-notify-num have-notify">12</span></span>
                <span class='content2 tab-current'>取引<span class="badge-notify-num">1</span></span>
                <span class='content3'>その他<span class="badge-notify-num">99+</span></span>
                <div id='lamp' class='content2'></div>
            </div>
            <div class='tab-content'>

                <div class='content1'>This is the content of 1 container.This will be open when button 1 is clicked.This
                    is the content of 1 container.This will be open when button 1 is clicked.This is the content of 1
                    container.This will be open when button 1 is clicked.</div>

                <div class='content2'>This is the content of 2 container.This will be open when button 2 is clicked.This
                    is the content of 2 container.This will be open when button 2 is clicked.This is the content of 2
                    container.This will be open when button 2 is clicked.</div>

                <div class='content3'>This is the content of 3 container.This will be open when button 3 is clicked.This
                    is the content of 3 container.This will be open when button 3 is clicked.This is the content of 3
                    container.This will be open when button 3 is clicked.</div>

            </div>
        </div>


        <!-- Search form -->
        <form id="search-form" class="search-form" method="get" action="https://">
            <input id="search-input" type="text" placeholder="何をお探しですか？" name="s" value="">
            <button id="search-btn" type="submit" value="Search" alt="検索" title="検索"><i
                    class="material-icons icon-search">search</i></button>
        </form>



        <label for="email" class="text-H-SS">メールアドレス</label>
        <input type="email" placeholder="info@sample.com" id="email">
        <p class="error-msg">入力してください</p>




        <label for="password" class="text-H-SS">パスワード</label>
        <div class="pw-input-container">
            <input type="password" id="password" maxlength="24" />
            <i class="material-icons visibility">visibility_off</i>
        </div>
        <p class="error-msg">入力してください</p>


        <!--<form>
            <label>電話番号：
                <input type="tel" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" placeholder="090-1234-5678">
            </label>
            <input type="submit" value="送信">
            <input type="url">
            <p class="error-msg">URLを入力してください</p>
            <input type="submit" value="URLかチェック">
        </form>-->




        <label for="item-name" class="text-H-SS">アイテム名</label><span class="badge-necessity required">必須</span>
        <input type="text" id="item-name">
        </label>



        <label for="item-description" class="text-H-SS">アイテムの説明</label><span class="badge-necessity optional">任意</span>
        <textarea name="item-description" placeholder="例）昨年11月に生協購入したものです。B3サイズのから円をいくつかくり抜いていて、6割ほど余っています。 #建築模型"
            rows="4" cols="40"></textarea>
        <p class="error-msg">入力してください</p>



        <label for="how-delivery" class="text-H-SS">受け渡し方法</label><span class="badge-necessity required">必須</span>
        <div class="select-container">
            <select name="how-delivery" id="how-delivery">
                <option value="leave">置いておく</option>
                <option value="hand">手渡し</option>
            </select>
        </div>
        <p class="error-msg">選択してください</p>


        <label for="expire" class="text-H-SS">有効期限</label><span class="badge-necessity required">必須</span>
        <input type="date" id="expire" name="trip-start" value="2021-09-22" min="2021-09-01" max="2022-10-7">
        <p class="error-msg">入力してください</p>



        <label for="comment">Textarea</label>
        <textarea name="comment" placeholder="コメントを入力..." rows="4" cols="40"></textarea>


        <label class="checkbox-label">
            <input type="checkbox" name="term" value="accept" required>
            <span class="checkmark"></span>
            利用規約に同意する
        </label>

        <h2>Buttons</h2>
        <h3>Basic</h3>
        <a href="" class="btn btn-M btn-primary">
            ボタン
            <i class="material-icons btn-icon-R">navigate_next</i>
        </a>

        <a href="" class="btn btn-M btn-secondary">
            ボタン
            <i class="material-icons btn-icon-R">navigate_next</i>
        </a>


        <a href="" class="btn btn-S btn-primary">
            ボタン
            <i class="material-icons btn-icon-L">navigate_before</i>
        </a>


        <a href="" class="btn btn-S btn-secondary">
            ボタン
            <i class="material-icons btn-icon-R">navigate_next</i>
        </a>


        <a href="" class="btn btn-SS btn-primary">
            ボタン
        </a>


        <a href="" class="btn btn-SS btn-secondary">
            ボタン
        </a>
        <h4>Button Combination</h4>

        <div class="combi-btn-link">
            <a href="" class="btn btn-M btn-primary">
                ボタン
                <i class="material-icons btn-icon-R">navigate_next</i>
            </a>
            <a href="" class="link-under-btn-M"><i class="material-icons link-icon-R">navigate_next</i>進む</a>
        </div>

        <div class="combi-btn-link">
            <a href="" class="btn btn-M btn-primary">
                ボタン
                <i class="material-icons btn-icon-R">navigate_next</i>
            </a>
            <a href="" class="link-under-btn-M"><i class="material-icons link-icon-L">navigate_before</i>戻る</a>
        </div>

        <div class="combi-btn-link">
            <a href="" class="btn btn-S btn-primary">
                ボタン
                <i class="material-icons btn-icon-R">navigate_next</i>
            </a>
            <a href="" class="link-under-btn-S"><i class="material-icons link-icon-R">navigate_next</i>進む</a>
        </div>
        <div class="combi-btn-link">
            <a href="" class="btn btn-S btn-primary">
                ボタン
                <i class="material-icons btn-icon-R">navigate_next</i>
            </a>
            <a href="" class="link-under-btn-S"><i class="material-icons link-icon-L">navigate_before</i>戻る</a>
        </div>

        <h3>LINE</h3>

        <h3>Circle</h3>
        <h4>Like</h4>
        <a class="btn-like"><span class="material-icons">
                favorite_border
                <!--塗りつぶしのグレーでも可-->
            </span>
        </a>
        <a class="btn-like btn-like-active"><span class="material-icons">
                favorite
            </span>
        </a>
        <h4>Delete</h4>
        <a class="btn-delete"><span class="material-icons-round">
                delete
            </span>
        </a>
        <h4>Share</h4>
        <!-- LINE -->
        <a class="btn-social-share" href="https://social-plugins.line.me/lineit/share?url=【エンコードしたURL】"><img
                src="./images/buttons/LINE.svg" alt="LINEで共有"></a>
        <!-- Twitter -->
        <a class="btn-social-share"
            href="http://twitter.com/share?text=【ツイート文（日本語が含まれる場合にはURLエンコードが必要（エンコードのことはちょっとよくわからないです...!））】&url=【共有するURL】&hashtags=【ハッシュタグ（複数あるときはカンマ区切り）】"
            rel="nofollow"><img src="./images/buttons/Twitter.svg" alt="Twitterで共有"></a>
        <!-- Facebook -->
        <a class="btn-social-share" href="http://www.facebook.com/share.php?u=【共有するURL】"><img
                src="./images/buttons/Facebook.svg" alt="Facebookで共有"></a>
        <!-- URL Copy -->
        <a class="btn-social-share" onclick="copyUrl()"><img src="./images/buttons/linkcopy.svg" alt="URLをコピー"></a>
        <p class="msg-url-copied">URLをコピーしました！</p>
        <!-- Share -->
        <!-- この場のリンクをシェアするだけのシンプルver -->
        <button type="button" class="btn-social-share native-share-btn"><img src="./images/buttons/share.svg"
                alt="シェアする"></button>
        <!-- 属性をかけるだけ書いたver -->
        <button type="button" class="btn-social-share native-share-btn" data-share-title="Web Share API Demo"
            data-share-text="This page demonstrates the Web Share API."
            data-share-url="http://labs.w0s.jp/js/web-share/"><img src="./images/buttons/share.svg"
                alt="シェアする"></button>

        <h3>Hash Tag</h3>
        <div class="hashtag-container">
            <a href="" class="hashtag">建築<span class="hashtag-num">(36)</span></a> <a href=""
                class="hashtag">スチレンボード<span class="hashtag-num">(27)</span></a> <a href="" class="hashtag">PE<span
                    class="hashtag-num">(19)</span></a>
            <a href="" class="hashtag">角材<span class="hashtag-num">(17)</span></a> <a href=""
                class="hashtag">造形1年後期<span class="hashtag-num">(13)</span></a> <a href="" class="hashtag">スチのり<span
                    class="hashtag-num">(8)</span></a><a href="" class="hashtag">パルサ材<span
                    class="hashtag-num">(17)</span></a>
            <a href="" class="hashtag">アクリル<span class="hashtag-num">(13)</span></a> <a href="" class="hashtag">教科書<span
                    class="hashtag-num">(8)</span></a>
        </div>

        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>

    </main>

    <!--Fixed Button-->
    <div class="fixed-btn-container">
        <a href="" class="btn btn-S btn-primary">
            ボタン
        </a>
    </div>
    <!--Tabbar-->
    <div class="tabbar-container">
        <nav class="menu">
            <a href="#" class="menu-item" id="menu-home">
                <span class="material-icons menu-icon">home<span class="badge-notify-menu have-notify"></span></span>
                <span class="menu-item-label">ホーム</span>
            </a>
            <a href="#" class="menu-item" id="menu-notify">
                <span class="material-icons menu-icon">notifications</span>
                <span class="menu-item-label">お知らせ</span>
            </a>
            <a href="#" class="menu-item" id="menu-post">
                <span class="material-icons menu-icon">edit</span>
                <span class="menu-item-label">投稿</span>
            </a>
            <a href="#" class="menu-item" id="menu-report">
                <span class="material-icons menu-icon">assessment</span>
                <span class="menu-item-label">レポート</span>
            </a>
            <a href="#" class="menu-item" id="menu-mypage">
                <span class="material-icons menu-icon">person</span>
                <span class="menu-item-label">マイページ</span>
            </a>
        </nav>
        <!-- end of code -->
    </div>


    <footer>
        <p>©noob_fighter_returns</p>
    </footer>

    <script type="text/javascript" src="js/index.js"></script>

</body>

</html>