<!-- templates/footer.html -->



{% block footer %}
<!--Tabbar-->
<div class="tabbar-container">
    <nav class="menu">
        <a href="/" class="menu-item" id="menu-home">
            <span class="material-icons menu-icon">home<span class="badge-notify-menu visible"></span></span>
            <span class="menu-item-label">ホーム</span>
        </a>
        <a href="/users/notification" class="menu-item" id="menu-notify">
            <span class="material-icons menu-icon">notifications<span class="badge-notify-menu visible"></span></span>
            <span class="menu-item-label">お知らせ</span>
        </a>
        <a href="#" class="menu-item" id="menu-post">
            <span class="material-icons menu-icon">edit</span>
            <span class="menu-item-label">投稿</span>
        </a>
        <a href="/users/report" class="menu-item" id="menu-report">
            <span class="material-icons menu-icon">assessment<span class="badge-notify-menu"></span></span>
            <span class="menu-item-label">レポート</span>
        </a>
        <a href="/users/me" class="menu-item" id="menu-mypage">
            <span class="material-icons menu-icon">person<span class="badge-notify-menu"></span></span>
            <span class="menu-item-label">マイページ</span>
        </a>
    </nav>
</div>
<!--footer-->
<footer>
    <div class="service-title">
        <img src="/images/logo.svg" alt="JO-TO!"><span class="school-name">東京美術大学</span>
    </div>

    <div class="footer-inner">
        <div>
            <ul class="menu">
                <li class="menu-item">
                    <a href="https://">使い方ガイド</a>
                </li>
                <li class="menu-item">
                    <a href="https://">マナーガイド</a>
                </li>
                <li class="menu-item">
                    <a href="https://">よくある質問</a>
                </li>

                <li class="menu-item">
                    <a href="https://">お問い合わせ</a>
                </li>
            </ul>
            <small class="copy-right">©noob_fighter_returns
            </small>
        </div>

        <div>
            <ul class="menu">
                <li class="menu-item">
                    <a href="https://">利用規約</a>
                </li>
                <li class="menu-item ">
                    <a href="https://">プライバシーポリシー</a>
                </li>
                <li class="menu-item ">
                    <a href="https://">ログアウト</a>
                </li>
                <li>
                    <p>友達にシェアする</p>
                    <div class="share-buttons">
                        <!-- LINE -->
                        <a class="btn-social-share"
                            href="https://social-plugins.line.me/lineit/share?url=【エンコードしたURL】"><img
                                src="/images/buttons/LINE.svg" alt="LINEで共有"></a>
                        <!-- Twitter -->
                        <a class="btn-social-share"
                            href="http://twitter.com/share?text=【ツイート文（日本語が含まれる場合にはURLエンコードが必要（エンコードのことはちょっとよくわからないです...!））】&url=【共有するURL】&btn-hashtags=【ハッシュタグ（複数あるときはカンマ区切り）】"
                            rel="nofollow"><img src="/images/buttons/Twitter.svg" alt="Twitterで共有"></a>
                        <!-- Share -->
                        <button type="button" class="btn-social-share native-share-btn" data-share-title="JO-TO!"><img
                                src="/images/buttons/share.svg" alt="シェアする"></button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</footer>

{% endblock %}