<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}

<div class="title-seemore">
  <h2>いいね！したアイテム</h2>
  <div><span class="view-all">すべて見る</span><i class="material-icons">navigate_next</i></div>
</div>

<ul class="horizontal_scroll">
  <!--------- <<START>> list item S -------->
  <li class="list-item-S">
    <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
      <!--いいねボタン小-->
      <a class="btn-like"><span class="material-icons">
          favorite_border
        </span></a>
    </div>
    <p>メンディングテープ 10mm幅 半分</p>
    <!--アイテムへのリンク（カード全体にかかる）-->
    <a href="#" class="item-link"></a>

  </li>
  <!--------- <<END>> list item S -------->
  <!--------- <<START>> list item S -------->
  <li class="list-item-S">
    <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
      <!--いいねボタン小-->
      <a class="btn-like"><span class="material-icons">
          favorite_border
        </span></a>
    </div>
    <p>メンディングテープ 10mm幅 半分</p>
    <!--アイテムへのリンク（カード全体にかかる）-->
    <a href="#" class="item-link"></a>

  </li>
  <!--------- <<END>> list item S -------->

  <!--------- <<START>> list item S -------->
  <li class="list-item-S">
    <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
      <!--いいねボタン小-->
      <a class="btn-like"><span class="material-icons">
          favorite_border
        </span></a>
    </div>
    <p>メンディングテープ 10mm幅 半分</p>
    <!--アイテムへのリンク（カード全体にかかる）-->
    <a href="#" class="item-link"></a>

  </li>
  <!--------- <<END>> list item S -------->

  <!--------- <<START>> list item S -------->
  <li class="list-item-S">
    <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
      <!--いいねボタン小-->
      <a class="btn-like"><span class="material-icons">
          favorite_border
        </span></a>
    </div>
    <p>メンディングテープ 10mm幅 半分</p>
    <!--アイテムへのリンク（カード全体にかかる）-->
    <a href="#" class="item-link"></a>

  </li>
  <!--------- <<END>> list item S -------->

  <!--------- <<START>> list item S -------->
  <li class="list-item-S">
    <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
      <!--いいねボタン小-->
      <a class="btn-like"><span class="material-icons">
          favorite_border
        </span></a>
    </div>
    <p>メンディングテープ 10mm幅 半分</p>
    <!--アイテムへのリンク（カード全体にかかる）-->
    <a href="#" class="item-link"></a>

  </li>
  <!--------- <<END>> list item S -------->

</ul>


<div class="title-seemore">
  <h2>あなたへのおすすめ</h2>
  <div><span class="view-all">すべて見る</span><i class="material-icons">navigate_next</i></div>
</div>

<ul class="horizontal_scroll">
  <!--------- <<START>> list item S -------->
  <li class="list-item-S">
    <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
      <!--いいねボタン小-->
      <a class="btn-like"><span class="material-icons">
          favorite_border
        </span></a>
    </div>
    <p>メンディングテープ 10mm幅 半分</p>
    <!--アイテムへのリンク（カード全体にかかる）-->
    <a href="#" class="item-link"></a>

  </li>
  <!--------- <<END>> list item S -------->
  <!--------- <<START>> list item S -------->
  <li class="list-item-S">
    <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
      <!--いいねボタン小-->
      <a class="btn-like"><span class="material-icons">
          favorite_border
        </span></a>
    </div>
    <p>メンディングテープ 10mm幅 半分</p>
    <!--アイテムへのリンク（カード全体にかかる）-->
    <a href="#" class="item-link"></a>

  </li>
  <!--------- <<END>> list item S -------->

  <!--------- <<START>> list item S -------->
  <li class="list-item-S">
    <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
      <!--いいねボタン小-->
      <a class="btn-like"><span class="material-icons">
          favorite_border
        </span></a>
    </div>
    <p>メンディングテープ 10mm幅 半分</p>
    <!--アイテムへのリンク（カード全体にかかる）-->
    <a href="#" class="item-link"></a>

  </li>
  <!--------- <<END>> list item S -------->

  <!--------- <<START>> list item S -------->
  <li class="list-item-S">
    <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
      <!--いいねボタン小-->
      <a class="btn-like"><span class="material-icons">
          favorite_border
        </span></a>
    </div>
    <p>メンディングテープ 10mm幅 半分</p>
    <!--アイテムへのリンク（カード全体にかかる）-->
    <a href="#" class="item-link"></a>

  </li>
  <!--------- <<END>> list item S -------->

  <!--------- <<START>> list item S -------->
  <li class="list-item-S">
    <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
      <!--いいねボタン小-->
      <a class="btn-like"><span class="material-icons">
          favorite_border
        </span></a>
    </div>
    <p>メンディングテープ 10mm幅 半分</p>
    <!--アイテムへのリンク（カード全体にかかる）-->
    <a href="#" class="item-link"></a>

  </li>
  <!--------- <<END>> list item S -------->

</ul>



<div class="title-seemore">
  <h2>検索履歴</h2>
</div>

<!--H3-->
<div class="title-seemore">
  <h3>「テープ　布」</h3>
  <div><span class="view-all">すべて見る</span><i class="material-icons">navigate_next</i></div>
</div>
<ul class="horizontal_scroll">
  <!--------- <<START>> list item S -------->
  <li class="list-item-S">
    <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
      <!--いいねボタン小-->
      <a class="btn-like"><span class="material-icons">
          favorite_border
        </span></a>
    </div>
    <p>メンディングテープ 10mm幅 半分</p>
    <!--アイテムへのリンク（カード全体にかかる）-->
    <a href="#" class="item-link"></a>

  </li>
  <!--------- <<END>> list item S -------->
  <!--------- <<START>> list item S -------->
  <li class="list-item-S">
    <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
      <!--いいねボタン小-->
      <a class="btn-like"><span class="material-icons">
          favorite_border
        </span></a>
    </div>
    <p>メンディングテープ 10mm幅 半分</p>
    <!--アイテムへのリンク（カード全体にかかる）-->
    <a href="#" class="item-link"></a>

  </li>
  <!--------- <<END>> list item S -------->

  <!--------- <<START>> list item S -------->
  <li class="list-item-S">
    <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
      <!--いいねボタン小-->
      <a class="btn-like"><span class="material-icons">
          favorite_border
        </span></a>
    </div>
    <p>メンディングテープ 10mm幅 半分</p>
    <!--アイテムへのリンク（カード全体にかかる）-->
    <a href="#" class="item-link"></a>

  </li>
  <!--------- <<END>> list item S -------->

  <!--------- <<START>> list item S -------->
  <li class="list-item-S">
    <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
      <!--いいねボタン小-->
      <a class="btn-like"><span class="material-icons">
          favorite_border
        </span></a>
    </div>
    <p>メンディングテープ 10mm幅 半分</p>
    <!--アイテムへのリンク（カード全体にかかる）-->
    <a href="#" class="item-link"></a>

  </li>
  <!--------- <<END>> list item S -------->

  <!--------- <<START>> list item S -------->
  <li class="list-item-S">
    <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
      <!--いいねボタン小-->
      <a class="btn-like"><span class="material-icons">
          favorite_border
        </span></a>
    </div>
    <p>メンディングテープ 10mm幅 半分</p>
    <!--アイテムへのリンク（カード全体にかかる）-->
    <a href="#" class="item-link"></a>

  </li>
  <!--------- <<END>> list item S -------->

</ul>

<div class="title-seemore">
  <h3>「板段ボール」</h3>
  <div><span class="view-all">すべて見る</span><i class="material-icons">navigate_next</i></div>
</div>
<ul class="horizontal_scroll">
  <!--------- <<START>> list item S -------->
  <li class="list-item-S">
    <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
      <!--いいねボタン小-->
      <a class="btn-like"><span class="material-icons">
          favorite_border
        </span></a>
    </div>
    <p>メンディングテープ 10mm幅 半分</p>
    <!--アイテムへのリンク（カード全体にかかる）-->
    <a href="#" class="item-link"></a>

  </li>
  <!--------- <<END>> list item S -------->
  <!--------- <<START>> list item S -------->
  <li class="list-item-S">
    <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
      <!--いいねボタン小-->
      <a class="btn-like"><span class="material-icons">
          favorite_border
        </span></a>
    </div>
    <p>メンディングテープ 10mm幅 半分</p>
    <!--アイテムへのリンク（カード全体にかかる）-->
    <a href="#" class="item-link"></a>

  </li>
  <!--------- <<END>> list item S -------->

  <!--------- <<START>> list item S -------->
  <li class="list-item-S">
    <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
      <!--いいねボタン小-->
      <a class="btn-like"><span class="material-icons">
          favorite_border
        </span></a>
    </div>
    <p>メンディングテープ 10mm幅 半分</p>
    <!--アイテムへのリンク（カード全体にかかる）-->
    <a href="#" class="item-link"></a>

  </li>
  <!--------- <<END>> list item S -------->

  <!--------- <<START>> list item S -------->
  <li class="list-item-S">
    <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
      <!--いいねボタン小-->
      <a class="btn-like"><span class="material-icons">
          favorite_border
        </span></a>
    </div>
    <p>メンディングテープ 10mm幅 半分</p>
    <!--アイテムへのリンク（カード全体にかかる）-->
    <a href="#" class="item-link"></a>

  </li>
  <!--------- <<END>> list item S -------->

  <!--------- <<START>> list item S -------->
  <li class="list-item-S">
    <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
      <!--いいねボタン小-->
      <a class="btn-like"><span class="material-icons">
          favorite_border
        </span></a>
    </div>
    <p>メンディングテープ 10mm幅 半分</p>
    <!--アイテムへのリンク（カード全体にかかる）-->
    <a href="#" class="item-link"></a>

  </li>
  <!--------- <<END>> list item S -------->

</ul>


<div class="title-seemore">
  <h2>新た着アイテム</h2>
  <div><span class="view-all">すべて見る</span><i class="material-icons">navigate_next</i></div>
</div>

<ul class="horizontal_scroll">
  <!--------- <<START>> list item S -------->
  <li class="list-item-S">
    <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
      <!--いいねボタン小-->
      <a class="btn-like"><span class="material-icons">
          favorite_border
        </span></a>
    </div>
    <p>メンディングテープ 10mm幅 半分</p>
    <!--アイテムへのリンク（カード全体にかかる）-->
    <a href="#" class="item-link"></a>

  </li>
  <!--------- <<END>> list item S -------->
  <!--------- <<START>> list item S -------->
  <li class="list-item-S">
    <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
      <!--いいねボタン小-->
      <a class="btn-like"><span class="material-icons">
          favorite_border
        </span></a>
    </div>
    <p>メンディングテープ 10mm幅 半分</p>
    <!--アイテムへのリンク（カード全体にかかる）-->
    <a href="#" class="item-link"></a>

  </li>
  <!--------- <<END>> list item S -------->

  <!--------- <<START>> list item S -------->
  <li class="list-item-S">
    <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
      <!--いいねボタン小-->
      <a class="btn-like"><span class="material-icons">
          favorite_border
        </span></a>
    </div>
    <p>メンディングテープ 10mm幅 半分</p>
    <!--アイテムへのリンク（カード全体にかかる）-->
    <a href="#" class="item-link"></a>

  </li>
  <!--------- <<END>> list item S -------->

  <!--------- <<START>> list item S -------->
  <li class="list-item-S">
    <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
      <!--いいねボタン小-->
      <a class="btn-like"><span class="material-icons">
          favorite_border
        </span></a>
    </div>
    <p>メンディングテープ 10mm幅 半分</p>
    <!--アイテムへのリンク（カード全体にかかる）-->
    <a href="#" class="item-link"></a>

  </li>
  <!--------- <<END>> list item S -------->

  <!--------- <<START>> list item S -------->
  <li class="list-item-S">
    <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
      <!--いいねボタン小-->
      <a class="btn-like"><span class="material-icons">
          favorite_border
        </span></a>
    </div>
    <p>メンディングテープ 10mm幅 半分</p>
    <!--アイテムへのリンク（カード全体にかかる）-->
    <a href="#" class="item-link"></a>

  </li>
  <!--------- <<END>> list item S -------->

</ul>


{% endblock %}