<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}

<main>
  <div class="margin-LR">
    <div class="title-seemore">
      <h2>いいね！したアイテム</h2>
      <a href="#"><span class="view-all">すべて見る</span><i class="material-icons">navigate_next</i></a>
    </div>

    <ul class="horizontal_scroll list-item-S">
      <!--------- <<START>> list item S -------->
      <li>
        <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
          <!--いいねボタン小-->
          <button type="button" class="btn-like btn-like-S" name="like">
            <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9 16.0125L7.9125 15.0225C4.05 11.52 1.5 9.21 1.5 6.375C1.5 4.065 3.315 2.25 5.625 2.25C6.93 2.25 8.1825 2.8575 9 3.8175C9.8175 2.8575 11.07 2.25 12.375 2.25C14.685 2.25 16.5 4.065 16.5 6.375C16.5 9.21 13.95 11.52 10.0875 15.03L9 16.0125Z" />
            </svg></button>
        </div>
        <p>メンディングテープ 10mm幅</p>
        <!--アイテムの状態を表すタグ-->
        <img class="item-status-tag decided" src="images/tag/decided_S.svg">
        <img class="item-status-tag sold visible" src="images/tag/sold_S.svg">
        <!--アイテムへのリンク（カード全体にかかる）-->
        <a href="#" class="item-link"></a>

      </li>
      <!--------- <<END>> list item S -------->
      <!--------- <<START>> list item S -------->
      <li>
        <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
          <!--いいねボタン小-->
          <button type="button" class="btn-like btn-like-S" name="like">
            <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9 16.0125L7.9125 15.0225C4.05 11.52 1.5 9.21 1.5 6.375C1.5 4.065 3.315 2.25 5.625 2.25C6.93 2.25 8.1825 2.8575 9 3.8175C9.8175 2.8575 11.07 2.25 12.375 2.25C14.685 2.25 16.5 4.065 16.5 6.375C16.5 9.21 13.95 11.52 10.0875 15.03L9 16.0125Z" />
            </svg></button>
        </div>
        <p>メンディングテープ 10mm幅</p>
        <!--アイテムの状態を表すタグ-->
        <img class="item-status-tag decided visible" src="images/tag/decided_S.svg">
        <img class="item-status-tag sold" src="images/tag/sold_S.svg">
        <!--アイテムへのリンク（カード全体にかかる）-->
        <a href="#" class="item-link"></a>

      </li>
      <!--------- <<END>> list item S -------->

      <!--------- <<START>> list item S -------->
      <li>
        <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
          <!--いいねボタン小-->
          <button type="button" class="btn-like btn-like-S" name="like">
            <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9 16.0125L7.9125 15.0225C4.05 11.52 1.5 9.21 1.5 6.375C1.5 4.065 3.315 2.25 5.625 2.25C6.93 2.25 8.1825 2.8575 9 3.8175C9.8175 2.8575 11.07 2.25 12.375 2.25C14.685 2.25 16.5 4.065 16.5 6.375C16.5 9.21 13.95 11.52 10.0875 15.03L9 16.0125Z" />
            </svg></button>
        </div>
        <p>メンディングテープ 10mm幅</p>
        <!--アイテムの状態を表すタグ-->
        <img class="item-status-tag decided" src="images/tag/decided_S.svg">
        <img class="item-status-tag sold" src="images/tag/sold_S.svg">
        <!--アイテムへのリンク（カード全体にかかる）-->
        <a href="#" class="item-link"></a>

      </li>
      <!--------- <<END>> list item S -------->

      <!--------- <<START>> list item S -------->
      <li>
        <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
          <!--いいねボタン小-->
          <button type="button" class="btn-like btn-like-S" name="like">
            <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9 16.0125L7.9125 15.0225C4.05 11.52 1.5 9.21 1.5 6.375C1.5 4.065 3.315 2.25 5.625 2.25C6.93 2.25 8.1825 2.8575 9 3.8175C9.8175 2.8575 11.07 2.25 12.375 2.25C14.685 2.25 16.5 4.065 16.5 6.375C16.5 9.21 13.95 11.52 10.0875 15.03L9 16.0125Z" />
            </svg></button>
        </div>
        <p>メンディングテープ 10mm幅</p>
        <!--アイテムの状態を表すタグ-->
        <img class="item-status-tag decided" src="images/tag/decided_S.svg">
        <img class="item-status-tag sold" src="images/tag/sold_S.svg">
        <!--アイテムへのリンク（カード全体にかかる）-->
        <a href="#" class="item-link"></a>

      </li>
      <!--------- <<END>> list item S -------->

      <!--------- <<START>> list item S -------->
      <li>
        <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
          <!--いいねボタン小-->
          <button type="button" class="btn-like btn-like-S" name="like">
            <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9 16.0125L7.9125 15.0225C4.05 11.52 1.5 9.21 1.5 6.375C1.5 4.065 3.315 2.25 5.625 2.25C6.93 2.25 8.1825 2.8575 9 3.8175C9.8175 2.8575 11.07 2.25 12.375 2.25C14.685 2.25 16.5 4.065 16.5 6.375C16.5 9.21 13.95 11.52 10.0875 15.03L9 16.0125Z" />
            </svg></button>
        </div>
        <p>メンディングテープ 10mm幅</p>
        <!--アイテムの状態を表すタグ-->
        <img class="item-status-tag decided" src="images/tag/decided_S.svg">
        <img class="item-status-tag sold" src="images/tag/sold_S.svg">
        <!--アイテムへのリンク（カード全体にかかる）-->
        <a href="#" class="item-link"></a>

      </li>
      <!--------- <<END>> list item S -------->


    </ul>

    <div class="title-seemore">
      <h2>あなたへのおすすめ</h2>
      <a href="#"><span class="view-all">すべて見る</span><i class="material-icons">navigate_next</i></a>
    </div>

    <ul class="horizontal_scroll list-item-S">
      <!--------- <<START>> list item S -------->
      <li>
        <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
          <!--いいねボタン小-->
          <button type="button" class="btn-like btn-like-S" name="like">
            <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9 16.0125L7.9125 15.0225C4.05 11.52 1.5 9.21 1.5 6.375C1.5 4.065 3.315 2.25 5.625 2.25C6.93 2.25 8.1825 2.8575 9 3.8175C9.8175 2.8575 11.07 2.25 12.375 2.25C14.685 2.25 16.5 4.065 16.5 6.375C16.5 9.21 13.95 11.52 10.0875 15.03L9 16.0125Z" />
            </svg></button>
        </div>
        <p>メンディングテープ 10mm幅</p>
        <!--アイテムの状態を表すタグ-->
        <img class="item-status-tag decided" src="images/tag/decided_S.svg">
        <img class="item-status-tag sold visible" src="images/tag/sold_S.svg">
        <!--アイテムへのリンク（カード全体にかかる）-->
        <a href="#" class="item-link"></a>

      </li>
      <!--------- <<END>> list item S -------->
      <!--------- <<START>> list item S -------->
      <li>
        <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
          <!--いいねボタン小-->
          <button type="button" class="btn-like btn-like-S" name="like">
            <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9 16.0125L7.9125 15.0225C4.05 11.52 1.5 9.21 1.5 6.375C1.5 4.065 3.315 2.25 5.625 2.25C6.93 2.25 8.1825 2.8575 9 3.8175C9.8175 2.8575 11.07 2.25 12.375 2.25C14.685 2.25 16.5 4.065 16.5 6.375C16.5 9.21 13.95 11.52 10.0875 15.03L9 16.0125Z" />
            </svg></button>
        </div>
        <p>メンディングテープ 10mm幅</p>
        <!--アイテムの状態を表すタグ-->
        <img class="item-status-tag decided visible" src="images/tag/decided_S.svg">
        <img class="item-status-tag sold" src="images/tag/sold_S.svg">
        <!--アイテムへのリンク（カード全体にかかる）-->
        <a href="#" class="item-link"></a>

      </li>
      <!--------- <<END>> list item S -------->

      <!--------- <<START>> list item S -------->
      <li>
        <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
          <!--いいねボタン小-->
          <button type="button" class="btn-like btn-like-S" name="like">
            <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9 16.0125L7.9125 15.0225C4.05 11.52 1.5 9.21 1.5 6.375C1.5 4.065 3.315 2.25 5.625 2.25C6.93 2.25 8.1825 2.8575 9 3.8175C9.8175 2.8575 11.07 2.25 12.375 2.25C14.685 2.25 16.5 4.065 16.5 6.375C16.5 9.21 13.95 11.52 10.0875 15.03L9 16.0125Z" />
            </svg></button>
        </div>
        <p>メンディングテープ 10mm幅</p>
        <!--アイテムの状態を表すタグ-->
        <img class="item-status-tag decided" src="images/tag/decided_S.svg">
        <img class="item-status-tag sold" src="images/tag/sold_S.svg">
        <!--アイテムへのリンク（カード全体にかかる）-->
        <a href="#" class="item-link"></a>

      </li>
      <!--------- <<END>> list item S -------->

      <!--------- <<START>> list item S -------->
      <li>
        <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
          <!--いいねボタン小-->
          <button type="button" class="btn-like btn-like-S" name="like">
            <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9 16.0125L7.9125 15.0225C4.05 11.52 1.5 9.21 1.5 6.375C1.5 4.065 3.315 2.25 5.625 2.25C6.93 2.25 8.1825 2.8575 9 3.8175C9.8175 2.8575 11.07 2.25 12.375 2.25C14.685 2.25 16.5 4.065 16.5 6.375C16.5 9.21 13.95 11.52 10.0875 15.03L9 16.0125Z" />
            </svg></button>
        </div>
        <p>メンディングテープ 10mm幅</p>
        <!--アイテムの状態を表すタグ-->
        <img class="item-status-tag decided" src="images/tag/decided_S.svg">
        <img class="item-status-tag sold" src="images/tag/sold_S.svg">
        <!--アイテムへのリンク（カード全体にかかる）-->
        <a href="#" class="item-link"></a>

      </li>
      <!--------- <<END>> list item S -------->

      <!--------- <<START>> list item S -------->
      <li>
        <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
          <!--いいねボタン小-->
          <button type="button" class="btn-like btn-like-S" name="like">
            <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9 16.0125L7.9125 15.0225C4.05 11.52 1.5 9.21 1.5 6.375C1.5 4.065 3.315 2.25 5.625 2.25C6.93 2.25 8.1825 2.8575 9 3.8175C9.8175 2.8575 11.07 2.25 12.375 2.25C14.685 2.25 16.5 4.065 16.5 6.375C16.5 9.21 13.95 11.52 10.0875 15.03L9 16.0125Z" />
            </svg></button>
        </div>
        <p>メンディングテープ 10mm幅</p>
        <!--アイテムの状態を表すタグ-->
        <img class="item-status-tag decided" src="images/tag/decided_S.svg">
        <img class="item-status-tag sold" src="images/tag/sold_S.svg">
        <!--アイテムへのリンク（カード全体にかかる）-->
        <a href="#" class="item-link"></a>

      </li>
      <!--------- <<END>> list item S -------->


    </ul>


    <div class="title-seemore">
      <h2>検索履歴</h2>
    </div>

    <!--H3-->
    <div class="title-seemore">
      <h3>「テープ　布」</h3>
      <da href="#"><span class="view-all">すべて見る</span><i class="material-icons">navigate_next</i></da>
    </div>
    <ul class="horizontal_scroll list-item-S">
      <!--------- <<START>> list item S -------->
      <li>
        <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
          <!--いいねボタン小-->
          <button type="button" class="btn-like btn-like-S" name="like">
            <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9 16.0125L7.9125 15.0225C4.05 11.52 1.5 9.21 1.5 6.375C1.5 4.065 3.315 2.25 5.625 2.25C6.93 2.25 8.1825 2.8575 9 3.8175C9.8175 2.8575 11.07 2.25 12.375 2.25C14.685 2.25 16.5 4.065 16.5 6.375C16.5 9.21 13.95 11.52 10.0875 15.03L9 16.0125Z" />
            </svg></button>
        </div>
        <p>メンディングテープ 10mm幅</p>
        <!--アイテムの状態を表すタグ-->
        <img class="item-status-tag decided" src="images/tag/decided_S.svg">
        <img class="item-status-tag sold visible" src="images/tag/sold_S.svg">
        <!--アイテムへのリンク（カード全体にかかる）-->
        <a href="#" class="item-link"></a>

      </li>
      <!--------- <<END>> list item S -------->
      <!--------- <<START>> list item S -------->
      <li>
        <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
          <!--いいねボタン小-->
          <button type="button" class="btn-like btn-like-S" name="like">
            <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9 16.0125L7.9125 15.0225C4.05 11.52 1.5 9.21 1.5 6.375C1.5 4.065 3.315 2.25 5.625 2.25C6.93 2.25 8.1825 2.8575 9 3.8175C9.8175 2.8575 11.07 2.25 12.375 2.25C14.685 2.25 16.5 4.065 16.5 6.375C16.5 9.21 13.95 11.52 10.0875 15.03L9 16.0125Z" />
            </svg></button>
        </div>
        <p>メンディングテープ 10mm幅</p>
        <!--アイテムの状態を表すタグ-->
        <img class="item-status-tag decided visible" src="images/tag/decided_S.svg">
        <img class="item-status-tag sold" src="images/tag/sold_S.svg">
        <!--アイテムへのリンク（カード全体にかかる）-->
        <a href="#" class="item-link"></a>

      </li>
      <!--------- <<END>> list item S -------->

      <!--------- <<START>> list item S -------->
      <li>
        <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
          <!--いいねボタン小-->
          <button type="button" class="btn-like btn-like-S" name="like">
            <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9 16.0125L7.9125 15.0225C4.05 11.52 1.5 9.21 1.5 6.375C1.5 4.065 3.315 2.25 5.625 2.25C6.93 2.25 8.1825 2.8575 9 3.8175C9.8175 2.8575 11.07 2.25 12.375 2.25C14.685 2.25 16.5 4.065 16.5 6.375C16.5 9.21 13.95 11.52 10.0875 15.03L9 16.0125Z" />
            </svg></button>
        </div>
        <p>メンディングテープ 10mm幅</p>
        <!--アイテムの状態を表すタグ-->
        <img class="item-status-tag decided" src="images/tag/decided_S.svg">
        <img class="item-status-tag sold" src="images/tag/sold_S.svg">
        <!--アイテムへのリンク（カード全体にかかる）-->
        <a href="#" class="item-link"></a>

      </li>
      <!--------- <<END>> list item S -------->

      <!--------- <<START>> list item S -------->
      <li>
        <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
          <!--いいねボタン小-->
          <button type="button" class="btn-like btn-like-S" name="like">
            <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9 16.0125L7.9125 15.0225C4.05 11.52 1.5 9.21 1.5 6.375C1.5 4.065 3.315 2.25 5.625 2.25C6.93 2.25 8.1825 2.8575 9 3.8175C9.8175 2.8575 11.07 2.25 12.375 2.25C14.685 2.25 16.5 4.065 16.5 6.375C16.5 9.21 13.95 11.52 10.0875 15.03L9 16.0125Z" />
            </svg></button>
        </div>
        <p>メンディングテープ 10mm幅</p>
        <!--アイテムの状態を表すタグ-->
        <img class="item-status-tag decided" src="images/tag/decided_S.svg">
        <img class="item-status-tag sold" src="images/tag/sold_S.svg">
        <!--アイテムへのリンク（カード全体にかかる）-->
        <a href="#" class="item-link"></a>

      </li>
      <!--------- <<END>> list item S -------->

      <!--------- <<START>> list item S -------->
      <li>
        <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
          <!--いいねボタン小-->
          <button type="button" class="btn-like btn-like-S" name="like">
            <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9 16.0125L7.9125 15.0225C4.05 11.52 1.5 9.21 1.5 6.375C1.5 4.065 3.315 2.25 5.625 2.25C6.93 2.25 8.1825 2.8575 9 3.8175C9.8175 2.8575 11.07 2.25 12.375 2.25C14.685 2.25 16.5 4.065 16.5 6.375C16.5 9.21 13.95 11.52 10.0875 15.03L9 16.0125Z" />
            </svg></button>
        </div>
        <p>メンディングテープ 10mm幅</p>
        <!--アイテムの状態を表すタグ-->
        <img class="item-status-tag decided" src="images/tag/decided_S.svg">
        <img class="item-status-tag sold" src="images/tag/sold_S.svg">
        <!--アイテムへのリンク（カード全体にかかる）-->
        <a href="#" class="item-link"></a>

      </li>
      <!--------- <<END>> list item S -------->


    </ul>

    <div class="title-seemore">
      <h3>「板段ボール」</h3>
      <a href="#"><span class="view-all">すべて見る</span><i class="material-icons">navigate_next</i></a>
    </div>
    <ul class="horizontal_scroll list-item-S">
      <!--------- <<START>> list item S -------->
      <li>
        <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
          <!--いいねボタン小-->
          <button type="button" class="btn-like btn-like-S" name="like">
            <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9 16.0125L7.9125 15.0225C4.05 11.52 1.5 9.21 1.5 6.375C1.5 4.065 3.315 2.25 5.625 2.25C6.93 2.25 8.1825 2.8575 9 3.8175C9.8175 2.8575 11.07 2.25 12.375 2.25C14.685 2.25 16.5 4.065 16.5 6.375C16.5 9.21 13.95 11.52 10.0875 15.03L9 16.0125Z" />
            </svg></button>
        </div>
        <p>メンディングテープ 10mm幅</p>
        <!--アイテムの状態を表すタグ-->
        <img class="item-status-tag decided" src="images/tag/decided_S.svg">
        <img class="item-status-tag sold visible" src="images/tag/sold_S.svg">
        <!--アイテムへのリンク（カード全体にかかる）-->
        <a href="#" class="item-link"></a>

      </li>
      <!--------- <<END>> list item S -------->
      <!--------- <<START>> list item S -------->
      <li>
        <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
          <!--いいねボタン小-->
          <button type="button" class="btn-like btn-like-S" name="like">
            <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9 16.0125L7.9125 15.0225C4.05 11.52 1.5 9.21 1.5 6.375C1.5 4.065 3.315 2.25 5.625 2.25C6.93 2.25 8.1825 2.8575 9 3.8175C9.8175 2.8575 11.07 2.25 12.375 2.25C14.685 2.25 16.5 4.065 16.5 6.375C16.5 9.21 13.95 11.52 10.0875 15.03L9 16.0125Z" />
            </svg></button>
        </div>
        <p>メンディングテープ 10mm幅</p>
        <!--アイテムの状態を表すタグ-->
        <img class="item-status-tag decided visible" src="images/tag/decided_S.svg">
        <img class="item-status-tag sold" src="images/tag/sold_S.svg">
        <!--アイテムへのリンク（カード全体にかかる）-->
        <a href="#" class="item-link"></a>

      </li>
      <!--------- <<END>> list item S -------->

      <!--------- <<START>> list item S -------->
      <li>
        <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
          <!--いいねボタン小-->
          <button type="button" class="btn-like btn-like-S" name="like">
            <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9 16.0125L7.9125 15.0225C4.05 11.52 1.5 9.21 1.5 6.375C1.5 4.065 3.315 2.25 5.625 2.25C6.93 2.25 8.1825 2.8575 9 3.8175C9.8175 2.8575 11.07 2.25 12.375 2.25C14.685 2.25 16.5 4.065 16.5 6.375C16.5 9.21 13.95 11.52 10.0875 15.03L9 16.0125Z" />
            </svg></button>
        </div>
        <p>メンディングテープ 10mm幅</p>
        <!--アイテムの状態を表すタグ-->
        <img class="item-status-tag decided" src="images/tag/decided_S.svg">
        <img class="item-status-tag sold" src="images/tag/sold_S.svg">
        <!--アイテムへのリンク（カード全体にかかる）-->
        <a href="#" class="item-link"></a>

      </li>
      <!--------- <<END>> list item S -------->

      <!--------- <<START>> list item S -------->
      <li>
        <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
          <!--いいねボタン小-->
          <button type="button" class="btn-like btn-like-S" name="like">
            <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9 16.0125L7.9125 15.0225C4.05 11.52 1.5 9.21 1.5 6.375C1.5 4.065 3.315 2.25 5.625 2.25C6.93 2.25 8.1825 2.8575 9 3.8175C9.8175 2.8575 11.07 2.25 12.375 2.25C14.685 2.25 16.5 4.065 16.5 6.375C16.5 9.21 13.95 11.52 10.0875 15.03L9 16.0125Z" />
            </svg></button>
        </div>
        <p>メンディングテープ 10mm幅</p>
        <!--アイテムの状態を表すタグ-->
        <img class="item-status-tag decided" src="images/tag/decided_S.svg">
        <img class="item-status-tag sold" src="images/tag/sold_S.svg">
        <!--アイテムへのリンク（カード全体にかかる）-->
        <a href="#" class="item-link"></a>

      </li>
      <!--------- <<END>> list item S -------->

      <!--------- <<START>> list item S -------->
      <li>
        <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
          <!--いいねボタン小-->
          <button type="button" class="btn-like btn-like-S" name="like">
            <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9 16.0125L7.9125 15.0225C4.05 11.52 1.5 9.21 1.5 6.375C1.5 4.065 3.315 2.25 5.625 2.25C6.93 2.25 8.1825 2.8575 9 3.8175C9.8175 2.8575 11.07 2.25 12.375 2.25C14.685 2.25 16.5 4.065 16.5 6.375C16.5 9.21 13.95 11.52 10.0875 15.03L9 16.0125Z" />
            </svg></button>
        </div>
        <p>メンディングテープ 10mm幅</p>
        <!--アイテムの状態を表すタグ-->
        <img class="item-status-tag decided" src="images/tag/decided_S.svg">
        <img class="item-status-tag sold" src="images/tag/sold_S.svg">
        <!--アイテムへのリンク（カード全体にかかる）-->
        <a href="#" class="item-link"></a>

      </li>
      <!--------- <<END>> list item S -------->


    </ul>


    <div class="title-seemore">
      <h2>新着アイテム</h2>
      <da href="#"><span class="view-all">すべて見る</span><i class="material-icons">navigate_next</i></da>
    </div>

    <ul class="horizontal_scroll list-item-S">
      <!--------- <<START>> list item S -------->
      <li>
        <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
          <!--いいねボタン小-->
          <button type="button" class="btn-like btn-like-S" name="like">
            <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9 16.0125L7.9125 15.0225C4.05 11.52 1.5 9.21 1.5 6.375C1.5 4.065 3.315 2.25 5.625 2.25C6.93 2.25 8.1825 2.8575 9 3.8175C9.8175 2.8575 11.07 2.25 12.375 2.25C14.685 2.25 16.5 4.065 16.5 6.375C16.5 9.21 13.95 11.52 10.0875 15.03L9 16.0125Z" />
            </svg></button>
        </div>
        <p>メンディングテープ 10mm幅</p>
        <!--アイテムの状態を表すタグ-->
        <img class="item-status-tag decided" src="images/tag/decided_S.svg">
        <img class="item-status-tag sold visible" src="images/tag/sold_S.svg">
        <!--アイテムへのリンク（カード全体にかかる）-->
        <a href="#" class="item-link"></a>

      </li>
      <!--------- <<END>> list item S -------->
      <!--------- <<START>> list item S -------->
      <li>
        <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
          <!--いいねボタン小-->
          <button type="button" class="btn-like btn-like-S" name="like">
            <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9 16.0125L7.9125 15.0225C4.05 11.52 1.5 9.21 1.5 6.375C1.5 4.065 3.315 2.25 5.625 2.25C6.93 2.25 8.1825 2.8575 9 3.8175C9.8175 2.8575 11.07 2.25 12.375 2.25C14.685 2.25 16.5 4.065 16.5 6.375C16.5 9.21 13.95 11.52 10.0875 15.03L9 16.0125Z" />
            </svg></button>
        </div>
        <p>メンディングテープ 10mm幅</p>
        <!--アイテムの状態を表すタグ-->
        <img class="item-status-tag decided visible" src="images/tag/decided_S.svg">
        <img class="item-status-tag sold" src="images/tag/sold_S.svg">
        <!--アイテムへのリンク（カード全体にかかる）-->
        <a href="#" class="item-link"></a>

      </li>
      <!--------- <<END>> list item S -------->

      <!--------- <<START>> list item S -------->
      <li>
        <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
          <!--いいねボタン小-->
          <button type="button" class="btn-like btn-like-S" name="like">
            <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9 16.0125L7.9125 15.0225C4.05 11.52 1.5 9.21 1.5 6.375C1.5 4.065 3.315 2.25 5.625 2.25C6.93 2.25 8.1825 2.8575 9 3.8175C9.8175 2.8575 11.07 2.25 12.375 2.25C14.685 2.25 16.5 4.065 16.5 6.375C16.5 9.21 13.95 11.52 10.0875 15.03L9 16.0125Z" />
            </svg></button>
        </div>
        <p>メンディングテープ 10mm幅</p>
        <!--アイテムの状態を表すタグ-->
        <img class="item-status-tag decided" src="images/tag/decided_S.svg">
        <img class="item-status-tag sold" src="images/tag/sold_S.svg">
        <!--アイテムへのリンク（カード全体にかかる）-->
        <a href="#" class="item-link"></a>

      </li>
      <!--------- <<END>> list item S -------->

      <!--------- <<START>> list item S -------->
      <li>
        <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
          <!--いいねボタン小-->
          <button type="button" class="btn-like btn-like-S" name="like">
            <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9 16.0125L7.9125 15.0225C4.05 11.52 1.5 9.21 1.5 6.375C1.5 4.065 3.315 2.25 5.625 2.25C6.93 2.25 8.1825 2.8575 9 3.8175C9.8175 2.8575 11.07 2.25 12.375 2.25C14.685 2.25 16.5 4.065 16.5 6.375C16.5 9.21 13.95 11.52 10.0875 15.03L9 16.0125Z" />
            </svg></button>
        </div>
        <p>メンディングテープ 10mm幅</p>
        <!--アイテムの状態を表すタグ-->
        <img class="item-status-tag decided" src="images/tag/decided_S.svg">
        <img class="item-status-tag sold" src="images/tag/sold_S.svg">
        <!--アイテムへのリンク（カード全体にかかる）-->
        <a href="#" class="item-link"></a>

      </li>
      <!--------- <<END>> list item S -------->

      <!--------- <<START>> list item S -------->
      <li>
        <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="img">
          <!--いいねボタン小-->
          <button type="button" class="btn-like btn-like-S" name="like">
            <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9 16.0125L7.9125 15.0225C4.05 11.52 1.5 9.21 1.5 6.375C1.5 4.065 3.315 2.25 5.625 2.25C6.93 2.25 8.1825 2.8575 9 3.8175C9.8175 2.8575 11.07 2.25 12.375 2.25C14.685 2.25 16.5 4.065 16.5 6.375C16.5 9.21 13.95 11.52 10.0875 15.03L9 16.0125Z" />
            </svg></button>
        </div>
        <p>メンディングテープ 10mm幅</p>
        <!--アイテムの状態を表すタグ-->
        <img class="item-status-tag decided" src="images/tag/decided_S.svg">
        <img class="item-status-tag sold" src="images/tag/sold_S.svg">
        <!--アイテムへのリンク（カード全体にかかる）-->
        <a href="#" class="item-link"></a>

      </li>
      <!--------- <<END>> list item S -------->


    </ul>
  </div>
</main>

{% endblock %}