<!-- templates/item_detail.html -->

{% extends "base.html" %}

{% block content %}
<main>

    <div class="margin-LR">
        <!-- Swiper -->
        <div class="swiper mySwiper swiper-initialized swiper-horizontal swiper-pointer-events">
            <div class="swiper-wrapper" aria-live="polite"
                style="transition-duration: 0ms; transform: translate3d(-7168px, 0px, 0px);">
                <div class="swiper-slide" role="group" aria-label="1 / 6"><img src="./images/item/IMG_5532.jpg"
                        alt="投稿された画像"></div>
                <div class="swiper-slide" role="group" aria-label="2 / 6"><img src="./images/item/IMG_5533.jpg"
                        alt="投稿された画像"></div>
                <div class="swiper-slide" role="group" aria-label="3 / 6"><img src="./images/item/IMG_5534.jpg"
                        alt="投稿された画像"></div>
                <div class="swiper-slide" role="group" aria-label="4 / 6"><img src="./images/item/IMG_5535.jpg"
                        alt="投稿された画像"></div>
                <div class="swiper-slide" role="group" aria-label="5 / 6"><img src="./images/item/IMG_5536.jpg"
                        alt="投稿された画像"></div>
                <div class="swiper-slide" role="group" aria-label="6 / 6"><img src="./images/item/IMG_5537.jpg"
                        alt="投稿された画像"></div>
            </div>
            <div class="swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal">
                <span class="swiper-pagination-bullet"></span>
                <span class="swiper-pagination-bullet"></span>
                <span class="swiper-pagination-bullet"></span>
                <span class="swiper-pagination-bullet"></span>
                <span class="swiper-pagination-bullet"></span>
                <span class="swiper-pagination-bullet"></span>
            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true">
            </span>
            <button type="button" class="btn-like btn-like-L" name="like">
                <svg width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M15 26.6875L13.1875 25.0375C6.75 19.2 2.5 15.35 2.5 10.625C2.5 6.775 5.525 3.75 9.375 3.75C11.55 3.75 13.6375 4.7625 15 6.3625C16.3625 4.7625 18.45 3.75 20.625 3.75C24.475 3.75 27.5 6.775 27.5 10.625C27.5 15.35 23.25 19.2 16.8125 25.05L15 26.6875Z" />
                </svg></button>
        </div>
        <!-- Initialize Swiper -->
        <script>
            var swiper = new Swiper(".mySwiper", {
                pagination: {
                    el: ".swiper-pagination",
                }, loop: true,
            });
        </script>
        <!--アイテム名-->
        <h1 class="item-titel">スチのり 4本 実質2本分</h1>
        <div class="display-impression">
            <span>
                <i class="material-icons">favorite</i>
                <span>いいね！</span>
                <span class="like-num">5</span>
            </span>
            <span>
                <i class="material-icons">comment</i>
                <span>コメント</span>
                <span class="comment-num">5</span>
            </span>
        </div>


        <table>
            <tr>
                <td>投稿者</td>
                <td><a href="">Nakayama</a></td>
            </tr>
            <tr>

                <td>受け渡し方法</td>
                <td id="disp-how-delivery">置いておく</td>
            </tr>
            <tr>

                <td>受け渡し場所</td>
                <td>建築学科 山本研究室（8号館204号室）ご自由にどうぞコーナー</td>
            </tr>
            <tr>

                <td colspan="2" id="map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2914.3766485305728!2d141.33931481587553!3d43.07557622914536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0b2906217dd379%3A0x7f7327389e4ec240!2z44CSMDYwLTA4MTMg5YyX5rW36YGT5pyt5bmM5biC5YyX5Yy65YyX77yR77yT5p2h6KW_77yY5LiB55uu!5e0!3m2!1sja!2sjp!4v1632154682049!5m2!1sja!2sjp"
                        width="351" height="240" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    <div class="location-text"> <i class="material-icons" aria-label="場所"
                            role="presentation">place</i><span>東京都小平市小川町1丁目736</span></div>
                </td>

            </tr>


            <td>有効期限</td>
            <td>2021.09.30<span class="deadline-status">残りわずか</span></td>
            <tr>

                <td colspan="2" class="item-description">
                    大学に持っていき忘れるたびに生協で買っていて、気付いたら4本持っていました。どれも半分以上は残っているので、全部で2本強分くらいはあると思います。意外と安くはないスチのり、もう使う予定がないので、だれか使ってあげてください。
                    <a href="#">#建築設計実習</a><a href="#">#半分以上</a><a href="#">#700円分</a>
                </td>
        </table>
        <div class="time-and-share">
            <div>
                <span class="passed-time">
                    <i class="material-icons" aria-label="時間" role="presentation">schedule</i><span>2週間前</span>
                </span>

                <button class="btn-nagative">
                    <i class="material-icons">outlined_flag</i>
                    不適切な投稿・管理の報告
                </button>
            </div>
            <div class="share-buttons">
                <!-- LINE -->
                <a class="btn-social-share" href="https://social-plugins.line.me/lineit/share?url=https://ccc2021.idichi.tk/"><img
                        src="./images/buttons/LINE.svg" alt="LINEで共有"></a>

                <!-- Share -->
                <button type="button" class="btn-social-share native-share-btn" data-share-title="JO-TO!"><img
                        src="./images/buttons/share.svg" alt="シェアする"></button>
            </div>
        </div>
    </div>

    <div class="comments-container">
        <p>コメント（3件）
            <!--コメントの件数-->
        </p>
        <!-- <<START>> Your comment block -->
        <div class="comment-wrapper you">
            <div class="dispaly-user">
                <div class="user-image S">
                    <div class="img_box">
                        <img class="object-fit-cover" src="./images/user/user_1.jpg" alt="user image">
                        <i class="material-icons">person</i>
                    </div>
                </div>
                <span class="user-tag item-orner visible">投稿者</span>
            </div>
            <div class="dispaly-comment">
                <p>
                    <!--ここにユーザー名-->Nakayama
                </p>
                <div class="speech-balloon">
                    <div class="commnet">
                        <!---ここにコメントが入る-->8月27日 15:00に１号間の前でお渡しでどうでしょうか？
                    </div>
                    <div class="comment-footer">
                        <span class="passed-time">
                            <i class="material-icons" aria-label="時間" role="presentation">schedule</i><span>2週間前</span>
                        </span>
                        <div class="reactions">
                            <button class="btn-good">👍<span id="good-num">12</span>
                            </button><button class="btn-thanks">🙏<span id="thanks-num">12</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <<END>> Your comment block -->

        <!-- <<START>> My comment block -->
        <div class="comment-wrapper me">
            <div class="dispaly-user">
                <div class="user-image S">
                    <div class="img_box">
                        <!-- ユーザー画像を登録していない場合はimgなし <img class="object-fit-cover" src="./images/user/none.jpg" name="user image">-->
                        <i class="material-icons">person</i>
                    </div>
                </div>
                <span class="user-tag item-orner">投稿者</span>
            </div>
            <div class="dispaly-comment">
                <p>あなた</p>
                <div class="speech-balloon">
                    <div class="commnet">
                        <!---ここにコメントが入る-->差し支えありません！承知しました！
                    </div>
                    <div class="comment-footer">
                        <span class="passed-time">
                            <i class="material-icons" aria-label="時間" role="presentation">schedule</i><span>2週間前</span>
                        </span>
                        <div class="reactions">
                            <button class="btn-good">👍<span id="good-num">12</span>
                            </button><button class="btn-thanks">🙏<span id="thanks-num">12</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <<END>> My comment block -->

        <textarea id="new-comment" name="comment" placeholder="コメントを入力..." rows="3"></textarea>

        <a class="btn btn-S btn-primary" onclick="postComment()">
            コメントする
        </a>

    </div>


    <div class="margin-LR">

        <div class="title-seemore">
            <h2>関連アイテム</h2>
            <a href="#"><span class="view-all">すべて見る</span><i class="material-icons">navigate_next</i></a>
        </div>

        <ul class="horizontal_scroll list-item-S">
            <!--------- <<START>> list item S -------->
            <li>
                <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="投稿された画像">
                    <!--いいねボタン小-->
                    <button type="button" class="btn-like btn-like-S" name="like">
                        <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M9 16.0125L7.9125 15.0225C4.05 11.52 1.5 9.21 1.5 6.375C1.5 4.065 3.315 2.25 5.625 2.25C6.93 2.25 8.1825 2.8575 9 3.8175C9.8175 2.8575 11.07 2.25 12.375 2.25C14.685 2.25 16.5 4.065 16.5 6.375C16.5 9.21 13.95 11.52 10.0875 15.03L9 16.0125Z" />
                        </svg></button>
                </div>
                <p>メンディングテープ 10mm幅</p>
                <!--アイテムの状態を表すタグ-->
                <img class="item-status-tag decided" alt="もらい手決定" src="images/tag/decided_S.svg">
                <img class="item-status-tag sold visible" alt="譲渡完了" src="images/tag/sold_S.svg">
                <!--アイテムへのリンク（カード全体にかかる）-->
                <a href="#" class="item-link"></a>

            </li>
            <!--------- <<END>> list item S -------->
            <!--------- <<START>> list item S -------->
            <li>
                <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="投稿された画像">
                    <!--いいねボタン小-->
                    <button type="button" class="btn-like btn-like-S" name="like">
                        <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M9 16.0125L7.9125 15.0225C4.05 11.52 1.5 9.21 1.5 6.375C1.5 4.065 3.315 2.25 5.625 2.25C6.93 2.25 8.1825 2.8575 9 3.8175C9.8175 2.8575 11.07 2.25 12.375 2.25C14.685 2.25 16.5 4.065 16.5 6.375C16.5 9.21 13.95 11.52 10.0875 15.03L9 16.0125Z" />
                        </svg></button>
                </div>
                <p>メンディングテープ 10mm幅</p>
                <!--アイテムの状態を表すタグ-->
                <img class="item-status-tag decided visible" alt="もらい手決定" src="images/tag/decided_S.svg">
                <img class="item-status-tag sold" alt="譲渡完了" src="images/tag/sold_S.svg">
                <!--アイテムへのリンク（カード全体にかかる）-->
                <a href="#" class="item-link"></a>

            </li>
            <!--------- <<END>> list item S -------->

            <!--------- <<START>> list item S -------->
            <li>
                <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="投稿された画像">
                    <!--いいねボタン小-->
                    <button type="button" class="btn-like btn-like-S" name="like">
                        <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M9 16.0125L7.9125 15.0225C4.05 11.52 1.5 9.21 1.5 6.375C1.5 4.065 3.315 2.25 5.625 2.25C6.93 2.25 8.1825 2.8575 9 3.8175C9.8175 2.8575 11.07 2.25 12.375 2.25C14.685 2.25 16.5 4.065 16.5 6.375C16.5 9.21 13.95 11.52 10.0875 15.03L9 16.0125Z" />
                        </svg></button>
                </div>
                <p>メンディングテープ 10mm幅</p>
                <!--アイテムの状態を表すタグ-->
                <img class="item-status-tag decided" alt="もらい手決定" src="images/tag/decided_S.svg">
                <img class="item-status-tag sold" alt="譲渡完了" src="images/tag/sold_S.svg">
                <!--アイテムへのリンク（カード全体にかかる）-->
                <a href="#" class="item-link"></a>

            </li>
            <!--------- <<END>> list item S -------->

            <!--------- <<START>> list item S -------->
            <li>
                <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="投稿された画像">
                    <!--いいねボタン小-->
                    <button type="button" class="btn-like btn-like-S" name="like">
                        <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M9 16.0125L7.9125 15.0225C4.05 11.52 1.5 9.21 1.5 6.375C1.5 4.065 3.315 2.25 5.625 2.25C6.93 2.25 8.1825 2.8575 9 3.8175C9.8175 2.8575 11.07 2.25 12.375 2.25C14.685 2.25 16.5 4.065 16.5 6.375C16.5 9.21 13.95 11.52 10.0875 15.03L9 16.0125Z" />
                        </svg></button>
                </div>
                <p>メンディングテープ 10mm幅</p>
                <!--アイテムの状態を表すタグ-->
                <img class="item-status-tag decided" alt="もらい手決定" src="images/tag/decided_S.svg">
                <img class="item-status-tag sold" alt="譲渡完了" src="images/tag/sold_S.svg">
                <!--アイテムへのリンク（カード全体にかかる）-->
                <a href="#" class="item-link"></a>

            </li>
            <!--------- <<END>> list item S -------->

            <!--------- <<START>> list item S -------->
            <li>
                <div class="img_box"> <img class="object-fit-cover" src="./images/item/IMG_5536.jpg" alt="投稿された画像">
                    <!--いいねボタン小-->
                    <button type="button" class="btn-like btn-like-S" name="like">
                        <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M9 16.0125L7.9125 15.0225C4.05 11.52 1.5 9.21 1.5 6.375C1.5 4.065 3.315 2.25 5.625 2.25C6.93 2.25 8.1825 2.8575 9 3.8175C9.8175 2.8575 11.07 2.25 12.375 2.25C14.685 2.25 16.5 4.065 16.5 6.375C16.5 9.21 13.95 11.52 10.0875 15.03L9 16.0125Z" />
                        </svg></button>
                </div>
                <p>メンディングテープ 10mm幅</p>
                <!--アイテムの状態を表すタグ-->
                <img class="item-status-tag decided" alt="もらい手決定" src="images/tag/decided_S.svg">
                <img class="item-status-tag sold" alt="譲渡完了" src="images/tag/sold_S.svg">
                <!--アイテムへのリンク（カード全体にかかる）-->
                <a href="#" class="item-link"></a>

            </li>
            <!--------- <<END>> list item S -------->


        </ul>
    </div>
    <!--Fixed Button-->
    <div class="fixed-btn-container">
        <a class="btn btn-S btn-primary" onclick='checkConditions()'>
            もらい手になる
        </a>
    </div>



    <!--<<START>> 取引開始確認用モーダル（置いておく）用モーダル-->
    <div class="modal-wrapper check-conditions leave">
        <div class="overlay"></div>
        <div class="modal-contents">
            <i class="material-icons modal-close check-conditions leave" aria-label="閉じる" role="button">close</i>

            <div class="modal-LR">
                <p class="text-H-S">スチのり 4本 実質2本分</p>
                <p class="text-P-M">
                    <span>
                        投稿者：
                    </span><a href="#">Nakayama</a>
                </p>
                <p class="text-H-SS">【置いておく】による受け渡しです
                </p>
                <img class="" src="./images/leave.svg" alt="置いておく">
                <ul>
                    <li>
                        あなたが取りに行く前に、誰かが回収してしまう可能性があります。</li>
                    <li>2週間以内に受け取り完了が確認されない場合、「もらい手」が自動的にキャンセルされます。
                    </li>
                </ul>
                <label class="checkbox-label">
                    <input id="checked-conditions-leave" type="checkbox" value="accept" required>
                    <span class="checkmark"></span>
                    条件を確認しました
                </label>
                <script>
                    function valueChange(event) {
                        document.getElementById('btn-confirm-ccleave').classList.add('checked');
                    }

                    document.getElementById('checked-conditions-leave').addEventListener('change', valueChange);
                </script>

                <a id="btn-confirm-ccleave" class="btn btn-S btn-primary" onclick="determinRecipient()">
                    確定する
                </a>

            </div>
        </div>
    </div>

    <!--<<END>> 取引開始確認用モーダル（置いておく）用モーダル-->

    <!--<<START>> 取引開始確認用モーダル（手渡し）用モーダル-->
    <div class="modal-wrapper check-conditions hand">
        <div class="overlay"></div>
        <div class="modal-contents">
            <i class="material-icons modal-close check-conditions hand" aria-label="閉じる" role="button">close</i>

            <div class="modal-LR">
                <p class="text-H-S">スチのり 4本 実質2本分</p>
                <p class="text-P-M">
                    <span>
                        投稿者：
                    </span><a href="#">Nakayama</a>
                </p>
                <p class="text-H-SS">【手渡し】による受け渡しです
                </p>
                <img class="" src="./images/hand-to-hand.svg" alt="手渡し">
                <ul>
                    <li>
                        投稿者と対面での受け渡しになります
                    </li>
                    <li>取引画面で受け渡し日時・場所の調整が必要です
                    </li>
                </ul>
                <label class="checkbox-label">
                    <input id="checked-conditions-hand" type="checkbox" value="accept" required>
                    <span class="checkmark"></span>
                    条件を確認しました
                </label>
                <script>

                    function valueChange(event) {
                        document.getElementById('btn-confirm-cchand').classList.add('checked');
                    }

                    document.getElementById('checked-conditions-hand').addEventListener('change', valueChange);
                </script>

                <a id="btn-confirm-cchand" class="btn btn-S btn-primary" onclick="determinRecipient()">
                    確定する
                </a>

            </div>
        </div>
    </div>
    <!--<<END>> 取引開始確認用モーダル（手渡し）用モーダル-->

    <!--<<START>> 取引開始確認用モーダル（郵送）用モーダル-->
    <div class="modal-wrapper check-conditions mailing">
        <div class="overlay"></div>
        <div class="modal-contents">
            <i class="material-icons modal-close check-conditions mailing" aria-label="閉じる" role="button">close</i>

            <div class="modal-LR">
                <p class="text-H-S">スチのり 4本 実質2本分</p>
                <p class="text-P-M">
                    <span>
                        投稿者：
                    </span><a href="#">Nakayama</a>
                </p>
                <p class="text-H-SS">【郵送】による受け渡しです
                </p>
                <img class="" src="./images/mailing.svg" alt="郵送">
                <ul>
                    <li>
                        取引画面で郵送方法や料金の負担について相談する必要があります
                    </li>
                    <li>投稿者に送り先を伝える必要があります
                    </li>
                </ul>
                <label class="checkbox-label">
                    <input id="checked-conditions-mailing" type="checkbox" value="accept" required>
                    <span class="checkmark"></span>
                    条件を確認しました
                </label>
                <script>

                    function valueChange(event) {
                        document.getElementById('btn-confirm-ccmailing').classList.add('checked');
                    }

                    document.getElementById('checked-conditions-mailing').addEventListener('change', valueChange);
                </script>

                <a id="btn-confirm-ccmailing" class="btn btn-S btn-primary" onclick="determinRecipient()">
                    確定する
                </a>

            </div>
        </div>
    </div>
    <!--<<END>> 取引開始確認用モーダル（郵送）用モーダル-->
</main>

<script type="text/javascript">
    //ページタイトルの変更
    let itemTitle = $('h1').text();
    //console.log(itemTitle);
        document.title=itemTitle+"｜JO-TO!";
        </script>

{% endblock %}