<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}

<main>
    <div class="margin-LR">
        <h1 class="title">お知らせ</h1>

    </div>
    <div class="important-notice-container">
        <h2 class="text-H-SS">重要なお知らせ</h2>
        <div class="important-notice">
            <span class="material-icons settings">settings
            </span>
            <div>
                <p>卒業予定の時期を設定してください</p>
                <p>卒業時の処理をスムーズに行うため、設定をお願いします。</p>
                <p><span class="passed-time">
                        <i class="material-icons" aria-label="時間" role="presentation">schedule</i><span>6時間前</span>
                    </span></p>
            </div>
        </div>
        <div class="important-notice">
            <span class="material-icons">warning
            </span>
            <div>
                <p>システムメンテナンスに伴うサービス停止</p>
                <p>8月21日1:00-5:00の間、メンテナンスのためサービスを停止します。</p>
                <p><span class="passed-time">
                        <i class="material-icons" aria-label="時間" role="presentation">schedule</i><span>6時間前</span>
                    </span></p>
            </div>
        </div>

    </div>
    <div class="margin-LR">
        <div class='tabs'>
            <div class='tab-buttons'>
                <h3 class='content1'>運営から<span class="badge-notify-num have-notify">12</span></h3>
                <h3 class='content2 tab-current'>取引<span class="badge-notify-num">4</span></h3>
                <h3 class='content3'>その他<span class="badge-notify-num visible">3</span></h3>
                <div id='lamp' class='content2'></div>
            </div>
            <div class='tab-content'>

                <div class='content1'>
                    <ul class="list-notice">
                        <li>
                            <div class="item-image S">
                                <div class="img_box">
                                    <img class="object-fit-cover" src="/images/info_update.jpg" alt="アップデート">

                                </div>
                            </div>
                            <div class="notify-text">
                                <p>
                                    アイテムの撮影時に、webアプリから直接カメラを立ち上げられるようになりました
                                </p>
                                <p> <span class="passed-time">
                                        <i class="material-icons" aria-label="時間"
                                            role="presentation">schedule</i><span>6時間前</span>
                                    </span></p>
                            </div>
                        </li>
                        <li>
                            <div class="item-image S">
                                <div class="img_box">
                                    <img class="object-fit-cover" src="/images/info_guide.jpg" alt="サービスの使い方に関するご案内">
                                </div>
                            </div>
                            <div class="notify-text">
                                <p>
                                    ご登録ありがとうございます！まずは<a href="#">「はじめてガイド」</a>を見てみましょう
                                </p>
                                <p> <span class="passed-time">
                                        <i class="material-icons" aria-label="時間"
                                            role="presentation">schedule</i><span>1ヶ月前</span>
                                    </span></p>
                            </div>
                        </li>
                    </ul>
                </div>


                <div class='content2 tab-current'>
                    <ul class="list-notice">
                        <li>
                            <div class="item-image S">
                                <div class="img_box">
                                    <img class="object-fit-cover" src="/images/item/IMG_5532.jpg" alt="投稿された画像">
                                </div>
                            </div>
                            <div class="notify-text">
                                <p>
                                    あなたがもらい手になった「スプレーのり 77 55」に新着メッセージがあります。
                                </p>
                                <p> <span class="passed-time">
                                        <i class="material-icons" aria-label="時間"
                                            role="presentation">schedule</i><span>3分前</span>
                                    </span></p>
                            </div>
                        </li>
                        <li>
                            <div class="item-image S">
                                <div class="img_box">
                                    <img class="object-fit-cover" src="/images/item/IMG_5536.jpg" alt="投稿された画像">
                                </div>
                            </div>
                            <div class="notify-text">
                                <p>
                                    あなたが投稿した「カラースプレー　カナリーイエロー」のもらい手が決定しました！受け渡しの計画に進みましょう。
                                </p>
                                <p> <span class="passed-time">
                                        <i class="material-icons" aria-label="時間"
                                            role="presentation">schedule</i><span>8時間前</span>
                                    </span></p>
                            </div>
                        </li>
                        <li>
                            <div class="item-image S">
                                <div class="img_box">
                                    <img class="object-fit-cover" src="/images/item/IMG_5535.jpg" alt="投稿された画像">
                                </div>
                            </div>
                            <div class="notify-text">
                                <p>
                                    あなたがもらい手になった「スプレーのり 77 55」に新着メッセージがあります。
                                </p>
                                <p> <span class="passed-time">
                                        <i class="material-icons" aria-label="時間"
                                            role="presentation">schedule</i><span>4日前</span>
                                    </span></p>
                            </div>
                        </li>
                        <li>
                            <div class="item-image S">
                                <div class="img_box">
                                    <img class="object-fit-cover" src="/images/item/IMG_5531.jpg" alt="投稿された画像">
                                </div>
                            </div>
                            <div class="notify-text">
                                <p>
                                    「スタイロフォーム　半畳分」のもらい手から新着メッセージがあります。
                                </p>
                                <p> <span class="passed-time">
                                        <i class="material-icons" aria-label="時間"
                                            role="presentation">schedule</i><span>1週間前</span>
                                    </span></p>
                            </div>
                        </li>
                        <li>
                            <div class="item-image S">
                                <div class="img_box">
                                    <img class="object-fit-cover" src="/images/item/IMG_5530.jpg" alt="投稿された画像">
                                </div>
                            </div>
                            <div class="notify-text">
                                <p>
                                    あなたがもらう「スチレンボード 5mm」の有効期限が迫っています【あと1日】
                                </p>
                                <p> <span class="passed-time">
                                        <i class="material-icons" aria-label="時間"
                                            role="presentation">schedule</i><span>2週間前</span>
                                    </span></p>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class='content3'>
                    <ul class="list-notice">
                        <li>
                            <div class="item-image S">
                                <div class="img_box">
                                    <img class="object-fit-cover" src="/images/item/IMG_5532.jpg" alt="投稿された画像">
                                </div>
                            </div>
                            <div class="notify-text">
                                <p>
                                    あなたがいいね！した「スチのり 4本 実質2本分」にコメントがつきました
                                </p>
                                <p> <span class="passed-time">
                                        <i class="material-icons" aria-label="時間"
                                            role="presentation">schedule</i><span>2日前</span>
                                    </span></p>
                            </div>
                        </li>
                        <li>
                            <div class="item-image S">
                                <div class="img_box">
                                    <img class="object-fit-cover" src="/images/item/IMG_5535.jpg" alt="投稿された画像">
                                </div>
                            </div>
                            <div class="notify-text">
                                <p>
                                    あなたがいいね！した「スプレーのり 77 55」にいいね！がつきました
                                </p>
                                <p> <span class="passed-time">
                                        <i class="material-icons" aria-label="時間"
                                            role="presentation">schedule</i><span>9日前</span>
                                    </span></p>
                            </div>
                        </li>
                        <li>
                            <div class="item-image S">
                                <div class="img_box">
                                    <img class="object-fit-cover" src="/images/category/architect@2x.jpg"
                                        alt="投稿された画像">
                                </div>
                            </div>
                            <div class="notify-text">
                                <p>
                                    あなたが興味のある「建築」に関連するアイテムが新しく入りました
                                </p>
                                <p> <span class="passed-time">
                                        <i class="material-icons" aria-label="時間"
                                            role="presentation">schedule</i><span>13日前</span>
                                    </span></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="margin-LR">
        <img class="ad" src="/images/sample_ad@2x.jpg" alt="advertisement">
    </div>
</main>

{% endblock %}