<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}

<main class="report">
    <!--START レポート-->
    <div class="margin-LR">


        <h1 class="title">ウィークリーレポート</h1>
        <p>2021/08/11-08/18</p>
    </div>
    <section class="summary">
        <h2>今週のサマリー</h2>
        <p>今週は建築模型用品の投稿および取引の成立数が目立ちました！模型用品が必要な方は、一度ここで探してみてはいかがでしょうか？</p>
    </section>
    <div class="margin-LR">
        <section>
            <h2>検索ワードランキング</h2>
            <ul class="list-normal">
                <li>
                    <img src="images/ranking/rank_1.svg" alt="1位">
                    <div><span>アクリル板</span><span>38件</span></div><i class="material-icons">navigate_next</i>
                    <a href="#" class="item-link"></a>
                </li>
                <li>
                    <img src="images/ranking/rank_2.svg" alt="1位">
                    <div><span>スチのり</span><span>24件</span></div><i class="material-icons">navigate_next</i>
                    <a href="#" class="item-link"></a>
                </li>
                <li>
                    <img src="images/ranking/rank_3.svg" alt="1位">
                    <div><span>MDF</span><span>16件</span></div><i class="material-icons">navigate_next</i>
                    <a href="#" class="item-link"></a>
                </li>
            </ul>
        </section>
        <section>
            <h2>取引成立数の多い#タグランキング</h2>
            <ul class="list-normal">
                <li>
                    <img src="images/ranking/rank_1.svg" alt="1位">
                    <div><span>建築模型</span><span>26件</span></div><i class="material-icons">navigate_next</i>
                    <a href="#" class="item-link"></a>
                </li>
                <li>
                    <img src="images/ranking/rank_2.svg" alt="1位">
                    <div><span>製図</span><span>12件</span></div><i class="material-icons">navigate_next</i>
                    <a href="#" class="item-link"></a>
                </li>
                <li>
                    <img src="images/ranking/rank_3.svg" alt="1位">
                    <div><span>課題一緒にやろう</span><span>9件</span></div><i class="material-icons">navigate_next</i>
                    <a href="#" class="item-link"></a>
                </li>
            </ul>
        </section>
        <section>
            <h2>投稿数の多い#タグランキング</h2>
            <ul class="list-normal">
                <li>
                    <img src="images/ranking/rank_1.svg" alt="1位">
                    <div><span>建築</span><span>42件</span></div><i class="material-icons">navigate_next</i>
                    <a href="#" class="item-link"></a>
                </li>
                <li>
                    <img src="images/ranking/rank_2.svg" alt="1位">
                    <div><span>画材</span><span>14件</span></div><i class="material-icons">navigate_next</i>
                    <a href="#" class="item-link"></a>
                </li>
                <li>
                    <img src="images/ranking/rank_3.svg" alt="1位">
                    <div><span>MDF</span><span>5件</span></div><i class="material-icons">navigate_next</i>
                    <a href="#" class="item-link"></a>
                </li>
            </ul>
        </section>

    </div>
    <div class="margin-LR">
        <img class="ad" src="images/sample_ad@2x.jpg" alt="advertisement">
    </div>

</main>

<script type="text/javascript">
    //ページタイトルの変更
        document.title="レポート｜JO-TO!";
        </script>
{% endblock %}