<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

    <title>Compornents</title>
    <!-- sanitize.css https://csstools.github.io/sanitize.css/ -->
    <link href="https://unpkg.com/sanitize.css" rel="stylesheet" />
    <!-- material design icons -->
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
    <!-- Swiper.js-->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <!-- Original Style-->
    <link rel="stylesheet" href="styles/style.css">
    <!--<link rel="stylesheet" href="styles/header.css">-->
    <!--OGP-->
    <meta property="og:url" content="https://" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:image" content="https://" />
    <meta property="fb:app_id" content="" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@" />
    <meta name="twitter:player" content="@" />

    <!--favicon-->
    <link rel="icon" href="./images/favicon.ico" />
    <link rel="apple-touch-icon" href="./images/favicons/apple-touch-icon-180x180.png" sizes="180x180">
    <link rel="icon" type="image/png" href="./images/favicons/android-chrome-192x192.png" sizes="192x192">

    <!-- Swiper.js-->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>



<!-- header -->

<header class="service-title">
    <img src="images/logo.svg" alt="JO-TO!"><span class="school-name invisible">北苺道大学</span>
</header>
<!-- /header -->



<main>
    <div class="margin-LR">

        <!-- Swiper -->
        <div class="swiper mySwiper swiper-initialized swiper-horizontal swiper-pointer-events introduction">
            <div class="swiper-wrapper" aria-live="polite">
                <div class="swiper-slide" role="group" aria-label="1 / 5"><img src="./images/introduction/01.svg"
                        alt="img"></div>
                <div class="swiper-slide" role="group" aria-label="2 / 5"><img src="./images/introduction/02.svg"
                        alt="img"></div>
                <div class="swiper-slide" role="group" aria-label="3 / 5"><img src="./images/introduction/03.svg"
                        alt="img"></div>
                <div class="swiper-slide" role="group" aria-label="4 / 5"><img src="./images/introduction/04.svg"
                        alt="img"></div>
                <div class="swiper-slide" role="group" aria-label="5 / 5"><img src="./images/introduction/05.svg"
                        alt="img"></div>
            </div>
            <div class="swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal">
                <span class="swiper-pagination-bullet"></span>
                <span class="swiper-pagination-bullet"></span>
                <span class="swiper-pagination-bullet"></span>
                <span class="swiper-pagination-bullet"></span>
                <span class="swiper-pagination-bullet"></span>
            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true">
            </span>
        </div>
        <!-- Initialize Swiper -->
        <script>
            var swiper = new Swiper(".mySwiper", {
                pagination: {
                    el: ".swiper-pagination",
                }, loop: true,
            });
        </script>

        <a href="#" class="btn btn-M btn-line">
            <img src="./images/buttons/LINE/line_88.png" alt="LINE">
            <span class="vertical-line"></span>
            <div>LINEでログイン</div>
            <div class="line-overlay"></div>
        </a>

        <div class="combi-btn-link">
            <a href="" class="btn btn-S btn-secondary">
                メールアドレスでログイン
                <i class="material-icons-outlined btn-icon-L">mail</i>
            </a>
            <div>アカウントをお持ちでない方は<a href="#" class="link-under-btn-S">新規登録</a></div>
        </div>
    </div>

    <div class="margin-LR">
    </div>
</main>



<footer>
    <div class="service-title">
        <img src="images/logo.svg" alt="JO-TO!"><span class="school-name copy">その不用品、学内で譲渡しない？</span>
    </div>

    <div class="footer-inner">
        <div>
            <ul class="menu">
                <li class="menu-item">
                    <a href="https://">使い方ガイド</a>
                </li>
                <li class="menu-item">
                    <a href="https://">マナーガイド</a>
                </li>
                <li class="menu-item">
                    <a href="https://">よくある質問</a>
                </li>

                <li class="menu-item">
                    <a href="https://">お問い合わせ</a>
                </li>
            </ul>
            <small class="copy-right">©noob_fighter_returns
            </small>
        </div>

        <div>
            <ul class="menu">
                <li class="menu-item">
                    <a href="https://">利用規約</a>
                </li>
                <li class="menu-item ">
                    <a href="https://">プライバシーポリシー</a>
                </li>
                <li class="menu-item ">
                    <a href="https://">ログアウト</a>
                </li>
                <li>
                    <p>友達にシェアする</p>
                    <div class="share-buttons">
                        <!-- LINE -->
                        <a class="btn-social-share"
                            href="https://social-plugins.line.me/lineit/share?url=【エンコードしたURL】"><img
                                src="./images/buttons/LINE.svg" alt="LINEで共有"></a>
                        <!-- Twitter -->
                        <a class="btn-social-share"
                            href="http://twitter.com/share?text=【ツイート文（日本語が含まれる場合にはURLエンコードが必要（エンコードのことはちょっとよくわからないです...!））】&url=【共有するURL】&btn-hashtags=【ハッシュタグ（複数あるときはカンマ区切り）】"
                            rel="nofollow"><img src="./images/buttons/Twitter.svg" alt="Twitterで共有"></a>
                        <!-- Share -->
                        <button type="button" class="btn-social-share native-share-btn" data-share-title="JO-TO!"><img
                                src="./images/buttons/share.svg" alt="シェアする"></button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</footer>


<script type="text/javascript" src="js/index.js"></script>



</body>

</html>