<form action="" method="post">
    <h2 class="text-center">Log in</h2>       
    <div class="form-group">
        <input type="text" class="form-control" placeholder="mail address" required="required" name="mailAddr">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="password" required="required" name="passwd">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Log in</button>
    </div>
</form>